body {
    font-family: Georgia, serif;
}

h1 {
    background: #000;
    font-size: 120%;
    
    a {
        color: #fff;
        display: block;
        padding: 0.5em;
        text-decoration: none; 
    }
}
